@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

.login-form{
  margin: 8vh 0 0 5vw;
  justify-content: center;
  align-items: center;
  color: #787878;
  font-family: "Rubik";
  font-size: 18px;
  font-weight: normal;
}

.label-input{
  max-width: 90vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-bottom:30px;
}

.icon-input-container{
  margin-top: 18px;
  border-bottom: 2px solid #787878;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  height: 28px;
  width: 90vw;
  padding-bottom: 8px;
}

.icon{
  height: 20px;
  margin-right: 10px;
}

.input-field{
  border: 0;
  outline: 0;
  background: transparent;
  font-size:16px;
  color: #787878;
  width:300px;
}

/* Change the annoying blue background thing to pink when you autofill with Chrome */
.input-field:-webkit-autofill,
.input-field:-webkit-autofill:hover, 
.input-field:-webkit-autofill:focus, 
.input-field:-webkit-autofill:active  {
    -webkit-box-shadow:0 0 0 50px #fde8ef inset; /* Change the color to your own background color */
}

.login-button{
  margin-top: 8vh;
  font-size: 20px;
  width: 90vw;
  height: 46px;
  background: linear-gradient(90deg, #ED578E 0%, #F4A78C 100%);
  border-radius: 10px;
  color:#FFF;
  box-shadow: none;
  border: none;
  }

.bottom-text {
    text-align: center;
}

.create-account-text{
  color: #ED578E;
  font-size: 16px;
}

.or-div {
  color: #ACACAC;
  margin: 2vh 0;
  padding-left: 5vw;
  width: 90vw;
  display: flex;
  justify-content: space-around;
}

.or-div-line {
  padding-top: 0.25rem;
  width: 40vw;
}

.or-div-text {
  margin: 0 5px;
}

.facebook-login-container {
  padding-left: 5vw;
  width: 90vw;
}

.facebook-login-container .kep-login-facebook.metro {
  width: 90vw;
  height: 46px;
  border-radius: 10px;
  background-color: #3B76F5;
  font-family: "Rubik";
  font-size: 20px;
  font-weight: 400;
  text-transform: none;
  padding: calc(.34435vw + 9.38843px) calc(.34435vw + 18.38843px)
}