.search-body {
    padding-top: 2vh;
    padding-left: 12vw;
    padding-right: 7vw;
    width: 85vw;
    height: calc(85vh - 4rem);
}

.search-body-title {
    color: #969696;
    font-weight: 500;
}

#recent-searches-content div {
    margin-top: 1vh;
}

.filter-header {
    margin-top: 4vh;
    display: flex;
}

.filter-header div {
    margin-right: 5vw;
}

.backdrop-filter {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(5vw, calc(-5vh - 4rem));
    width: 100vw;
    height: 100vh;
    z-index: 12;
    background-color: rgba(0,0,0,0.5);
}

#search-popup {
    background-color: #fff;
    z-index: 15;
    position: absolute;
    top: 5vh;
    width: 80vw;
    height: 60vh;
    padding: 2vh 3vw;
    border-radius: 10px;
}

.search-popup-header {
    display: flex;
}

.search-popup-title {
    font-weight: 700;
    color: #6c6c6c;
    width: 95%;
}

.search-popup-close {
    width: 5%;
}

.tags-container, .selected-tags-container {
    margin-top: 4vh;
    display: flex;
    flex-wrap: wrap;
}

.selected-tags-container {
    margin-top: 2vh;
}

.tag {
    padding: 0.3rem 0.3rem;
    color: #cccccc;
    border: 1px solid #cccccc;
    border-radius: 0.5rem;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
}

.tag-active {
    padding: 0.3rem 0.3rem;
    color: #ed578e;
    border: 1px solid #ed578e;
    border-radius: 0.5rem;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
}